td, th {
  padding: 10px !important;
}

table {
  width: 100%;
}

.navbar {
  border-radius: 0 !important;
}

.mods {
  display: inline-block;
  position: absolute;
  left: 300px;
  a {
    border-left: 1px solid #a7a7a7;
    margin-right: 10px;
  }
  a:last-child {
    border-right: 1px solid #a7a7a7;
  }
}

.social_buttons {
  display: block;
  padding: 5px;
  margin: 5px;
}