td, th {
  padding: 10px !important;
}

table {
  width: 100%;
}

.navbar {
  border-radius: 0 !important;
}

.mods {
  display: inline-block;
  position: absolute;
  left: 300px;
  a {
    border-left: 1px solid white;
    margin-right: 10px;
  }
  a:last-child {
    border-right: 1px solid white;
  }
}